.about {

	&__wrapper {
		width: 100%;
		padding: 42px 16px 50px;
	}

	&__inner {
		margin: 0 auto;
		max-width: 1170px;
		display: flex;
		flex-direction: column;
	}

	&__examples {
		width: 100%;
		padding: 58px 0;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
	}
}