.futures {

	&__wrapper {
		width: 100%;
		background-color: @background-color-morning-glory;
		padding: 0 16px;
	}

	&__inner {
		max-width: 1170px;
		margin: 0 auto;
	}

	&__items {
		display: grid;
		padding: 0 2px;
		background-color: @background-color-white;
		grid-template-columns: repeat(5, 1fr);
		column-gap: 2px;

		@media @max870 {
			padding: 0;
			grid-template-columns: repeat(2, 1fr);
			column-gap: 0;
			row-gap: 1px;
		}
	}

	&__item {
		background-color: @background-color-morning-glory;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		min-height: 250px;

		&:last-child {

			@media @max870 {
				grid-column-start: 1;
				grid-column-end: 3;
			}
		}

		@media @max1024 {
			min-height: 167px;
		}

		@media @max660 {
			min-height: 144px;
		}
	}

	&__text {
		width: 100%;
		color: @text-color-white;

		span {
			display: inline-block;
			padding-bottom: 20px;
			.font-sizes_700-64-75 ();

			@media @max1024 {
				padding-bottom: 20px;
				font-size: 48px;
				line-height: 56px;
			}

			@media @max870 {
				padding-bottom: 30px;
			}
		}

		h5 {
			padding-bottom: 20px;
			.font-sizes_500-24-28 ();
			
			@media @max1024 {
				padding-bottom: 10px;
				font-size: 18px;
				line-height: 21px;
			}

			@media @max870 {
				padding-bottom: 0;
			}
		}
	}
}