.header {
	width: 100%;
	display: flex;
	align-items: center;
	// flex-wrap: wrap;

	&__logo {
		flex-shrink: 0;
	}

	&__nav-menu {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex: 1;
		align-items: center;
		justify-content: flex-end;
		text-align: center;

		li {
			display: flex;
			flex: 1;
			margin: 0 15px;
			max-width: 85px;

			a {
				display: inline-block;
				.font-sizes_600-14-16 ();
				color: @text-color-white;
				text-transform: uppercase;
				text-decoration: none;
				width: 100%;
				padding: 5px 0;
				border-bottom: 1px solid transparent;
				transition: all linear .2s;
				margin: 5px 0;
	
				&:hover {
					color: @text-color-manhattan;
					border-bottom: 1px solid @background-color-manhattan;
				}
	
				&:active {
					color: @text-color-shark;
					border-bottom: 1px solid @background-color-shark;
				}
			}
		}

		
	}

	&__actives {
		display: flex;

		::before {
			cursor: pointer;
		}

		:hover {

			&::before {
				color: @text-color-manhattan;
			}
		}

		:active {

			&::before {
				color: @text-color-shark;
			}
		}
	}

	&__truck {
		margin: 17px;

		&::before {
			content: @icon-truck;
			.icon-styles ();
			font-size: 24px;
			color: @text-color-white;
		}
	}

	&__search {
		margin: 17px;
		margin-right: 0;
		display: flex;

		label {

			&:focus ~ input {
				width: 190px;
				padding-left: 10px;
			}

			&::before {
				content: @icon-search;
				.icon-styles ();
				font-size: 24px;
				color: @text-color-white;
			}
		}

		input {
			margin-right: 5px;
			padding: 0;
			width: 0;
			display: flex;
			align-items: center;
			outline: none;
			border: none;
			border-radius: 15px;
			transition: all linear .3s;
			opacity: 0;

			&::-webkit-search-cancel-button {
				display: none;
			}

			&:focus {
				width: 190px;
				padding-left: 10px;
				opacity: 1;
			}

			&:active {
				width: 190px;
				padding-left: 10px;
				opacity: 1;
			}
		}
	}
}