.service {

	&__wrapper {
		width: 100%;
		padding: 42px 16px 50px;
	}

	&__inner {
		margin: 0 auto;
		max-width: 1170px;
		display: flex;
		flex-direction: column;
	}

	&__content {
		padding-top: 42px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
	}

	&__tabs {
		display: flex;
		flex-direction: column;
		row-gap: 22px;
	}
}