.stories {

	&__wrapper {
		width: 100%;
		padding: 84px 16px;
	}

	&__inner {
		margin: 0 auto;
		max-width: 1170px;
		display: flex;
		flex-direction: column;
	}

	&__cards {
		padding-top: 42px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 30px;
	}
}