.work {

	&__wrapper {
		margin: 0 auto;
		max-width: 1980px;
		padding-top: 84px;
	}

	&__cards {
		padding-top: 42px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr 1fr;
	}
}