html {
	scroll-behavior: smooth;
}



body {
	font-family: @main-font;
	color: @text-color-shark;
}

.container {
	width: 100%;
}

.divider {
	height: 4px;
	max-width: 170;

	&_white {
		width: 100%;
		background-color: @background-color-white;
	}
	
	&_red {
		width: 100%;
		background-color: @background-color-froly;
	}

	&_short {
		width: 70px;
	}
}

.section-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	&__subtitle {
		width: 100%;
		padding: 18px 0;

		h3 {
			font-family: @sub-font;
			.font-sizes_400-30-44 ();
		}
	}

	&__title {
		width: 100%;
		padding: 19px 0;
		margin-bottom: 20px;

		h2 {
			.font-sizes_900-36-42 ();
			text-transform: uppercase;
		}
	}

	&__description {
		width: 100%;
		padding: 38px 0;

		h5 {
			.font-sizes_400-18-21 ();
			color: @text-color-black;
		}
	}
}

.example {
	position: relative;

	&:first-child img {
		opacity: 0;
	}

	&:nth-child(n+2) &__team {
		display: none;
	}

	&__image {
		background-color: @background-color-morning-glory;
	}

	&__team {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		background-image: @background-color-gradient;
		transition: all linear .2s;

		a {
			width: 100%;
			height: 100%;
			.font-sizes_500-24-28 ();
			text-transform: uppercase;
			text-decoration: none;
			color: @text-color-white;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			&::before {
				content: @icon-add;
				.icon-styles ();
				font-size: 40px;
				display: inline-block;
			}
		}

		&:hover {
			transform: translate(-16px, -16px);
		}

		&:active {
			transform: translate(0);

			a {
				color: @text-color-shark;
			}
		}
	}
}

.card {
	max-width: 370px;
	display: flex;

	&__icon {
		margin-right: 30px;
	}

	::before {
		font-size: 70px;
		color: @text-color-morning-glory;
	}

	&__text {
		display: flex;
		flex-direction: column;
	}

	&__title {
		width: 100%;
		padding: 12px 0;
		margin: 9px 0;

		h4 {
			.font-sizes_700-24-28 ();
			text-transform: uppercase;
		}
	}

	&__description {
		width: 100%;
		padding: 19px 0;

		h5 {
			.font-sizes_400-18-21 ();
		}
	}
}

.tab {
	display: flex;
	flex-direction: column;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border: 1px solid @background-color-silver-sand;
	}

	&__icon {
		margin: 0 18px;

		&::before {
			font-size: 42px;
			color: @text-color-morning-glory;
		}
	}

	&__title {
		padding: 31px 0;
		width: 100%;
		margin-left: 22px;

		h3 {
			.font-sizes_700-24-28 ();
			text-transform: uppercase;
		}
	}

	&__button {
		margin: 0 14px;
		transform: perspective(800px) rotateX(0);
		
		&_checked {
			transform: perspective(800px) rotateX(180deg);
		}

		button {
			background: none;
			border: none;
			padding: 0;
			cursor: pointer;

			&:hover::before {
				filter: invert(30%);
			}

			&:active::before {
				filter: invert(100%);
			}
		}

		::before {
			content: url('../images/arrow.svg');
			transition: all linear .1s;
		}
	}

	&__text {
		display: none;
		padding: 18px 24px 18 22px;
		border: 1px solid @background-color-silver-sand;
		border-top: none;
		max-height: 162px;

		::-webkit-scrollbar {
			width: 7px;
		}

		::-webkit-scrollbar-track {
			background-color: @background-color-wild-sand;
		}
		::-webkit-scrollbar-thumb {
			background-color: @background-color-morning-glory;
		}

		&-wrapper {
			max-height: 100%;
			overflow-y: scroll;
		}

		&_checked {
			display: block;
		}

		p {
			padding-right: 54px;
			.font-sizes_400-18-21 ();
		}
	}
}

.slider {
	display: flex;
	flex-direction: column;

	&__wrapper {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 12px;
	}

	&__inner {
		margin: 0 40px;
		max-width: 970px;
		overflow: hidden;
		display: flex;
		justify-content: space-between;
	}

	&__arrow-prev, &__arrow-next {

		&::before {
			content: url('../images/arrow.svg');
			display: block;
			width: 42px;
			height: 42px;
			transition: all linear .1s;
		}

		&:hover::before {
			filter: invert(30%);
		}

		&:active::before {
			filter: invert(100%);
		}
	}

	&__arrow-prev {

		&::before {
			transform: rotate(90deg);
		}
	}

	&__arrow-next{

		&::before {
		transform: rotate(-90deg);
		}
	}

	&__dots {
		width: 100%;
		padding: 25px 0;
		display: none;
		justify-content: center;
	}

	&__dot {
		margin: 0 10px;
		width: 10px;
		height: 10px;
		border: 1px solid @background-color-silver-sand;
		border-radius: 100%;
		display: block;

		&_active {
			background-color: @background-color-silver-sand;
		}
	}
}

.reviews {
	display: flex;
}

.review {
	display: flex;
	align-items: flex-start;

	::before {
		color: @text-color-morning-glory;
		font-size: 100px;
	}

	&__icon {
		padding: 33px;
		border: 2px solid @background-color-morning-glory;
	}

	&__avatar {
		flex-shrink: 0;

		img {
			border-radius: 100%;
		}
	}

	&__info {
		width: 100%;
		margin-left: 30px;
		display: flex;
		flex-direction: column;
	}

	&__text {
		width: 100%;
		padding: 6px 0;

		p{
			font-style: italic;
			.font-sizes_500-24-28 ();
			color: @text-color-gray-chateau;
		}
	}

	&__name {
		display: flex;
		align-items: center;
		width: 100%;
		padding: 4px 0;
		margin-top: 21px;

		h3 {
			margin-left: 56px;
			font-family: @sub-font;
			color: @text-color-black;
			.font-sizes_400-30-44 ();
		}
	}
}