html {
	scroll-behavior: smooth;
}

body {
	font-family: @main-font;
	color: @text-color-shark;
	.font-sizes_400-18-21 ();
}
.container {
	width: 100%;
}

.divider {
	height: 4px;
	max-width: 170;

	&_white {
		width: 100%;
		background-color: @background-color-white;
	}
}